@using Octokit;
@{
    User user = Model.Get<User>("User");
    IReadOnlyList<Repository> repos = Model.Get<IReadOnlyList<Repository>>("Repos");
}
<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
    <head>
        <title>@user.Name</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body class="is-preload">
    <!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="@user.AvatarUrl" alt="" /></span>
							<h1 id="title">@user.Name</h1>
							<p>Student. : @@@user.Login</p>
                            <p>@user.Bio</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top1" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#repo" id="repo-link"><span class="icon solid fa-th">Repositories</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://twitter.com/AtriaSoft" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/Daichata" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="@user.HtmlUrl" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="http://atriasoft.work/" class="fas fa-globe-asia"><span class="label"></span></a></li>
							<li><a href="http://atriasoft.work/contact" class="icon solid fa-envelope"><span class="label">Contact</span></a></li>
						</ul>

				</div>

			</div>

            <!-- Main -->
			<div id="main">
				
				<!-- Intro -->
					<section id="top1" class="one dark cover">
						<div class="container">
							<header>
								<h2 class="alt">Hi! I'm <strong>@user.Name</strong>, this is my portfolio.</h2>
								<br />
							</header>
						</div>
					</section>
                
				<!--Repositories-->
					<section id="repo" class="three">
						<div class="container">
                    		<h2>Repositories</h2>
                        	@foreach(Repository repo in repos.Where(x => !x.Fork).OrderByDescending(x => x.StargazersCount))
                        	{
                            	<h3>@repo.Name</h3>
                            	<p>@repo.StargazersCount stars, @repo.ForksCount forks</p>
                            	<p><a href="@repo.HtmlUrl">Link</a></p>
                            	@if(repo.Homepage != null)
                            	{
                                	<p><a href="@repo.Homepage">Homepage</a></p>
                            	}
                            	<p>@repo.Description</p>
                            	<p>Created at @repo.CreatedAt.ToString("MM/dd/yyyy h:mm tt")</p>
                        	}
						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured" width = "600"><img src="images/pic.jpg" alt="" /></a>

							<p>hogehoge~</p>
							<p><a href="/daggerBreak">daggerBreak</a></p>

						</div>
					</section>

			</div>

        <!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Atria. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>